*.iml
.gradle
/local.properties
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
.gitignore
.idea/codeStyles/
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/libs/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
